<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173494289394-ai1hc3frecskqvt2q18hr573hodru3mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173494289394-ai1hc3frecskqvt2q18hr573hodru3mh</string>
	<key>API_KEY</key>
	<string>AIzaSyDAALWxuVfzlBWvm-HC-b5rej2iKEU9UMc</string>
	<key>GCM_SENDER_ID</key>
	<string>173494289394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monmouth.CS490RSharing</string>
	<key>PROJECT_ID</key>
	<string>cs490rsharing</string>
	<key>STORAGE_BUCKET</key>
	<string>cs490rsharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173494289394:ios:2203245c0d363b9b</string>
	<key>DATABASE_URL</key>
	<string>https://cs490rsharing.firebaseio.com</string>
</dict>
</plist>